<h1>This is the Show Users Page</h1>

<table>
	<tr><th>Username</th><th>Email</th></tr>
	<tr><td><%= @user.username %></td><td><%= @user.email %></td></tr>
</table> 

<%= link_to "Edit", edit_user_path %>